.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.header-left h1{
     margin:0;
    font-size:52px;
    font-weight:700;
    color:#1b5e20;
  
}

.header-left p{
    margin-top:8px;
    color:#4b5563;
    font-size:20px;
}

.header-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.notification-btn{
    width:50px;
    height:50px;

    border:none;
    border-radius:50%;

    background:white;

    box-shadow:0 4px 12px rgba(0,0,0,.15);

    cursor:pointer;

    font-size:20px;

    color:#2e7d32;
}

.profile{

     background:#0b5d1e;
    color:white;
    border:none;
    border-radius:12px;
    padding:12px 22px;
    font-weight:600;

    display:flex;
    align-items:center;
    gap:12px;

    box-shadow:0 4px 12px rgba(0,0,0,.15);
}

.profile-icon{
    font-size:42px;
    color:#2e7d32;
}

.profile h3{
    margin:0;
    color:#222;
}

.profile p{
    margin:3px 0 0;
    color: whitesmoke;
}