body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;

    background-image:url("../assets/YieldSense AI.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.farm-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px 20px;
    box-sizing:border-box;
}

.farm-card{
    width:520px;
    background:rgba(255,255,255,0.95);
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.25);
}

.farm-card h1{
    text-align:center;
    color:#2e7d32;
    margin:0;
    font-size:36px;
}

.subtitle{
    text-align:center;
    color:#555;
    margin:10px 0 25px;
    font-size:15px;
}

.farm-card label{
    display:block;
    color:#1b5e20;
    font-size:16px;
    font-weight:600;
    margin-top:12px;
    margin-bottom:6px;
}

.input-box{
    position:relative;
    width:100%;
    margin-bottom:12px;
}

.input-box input{
    width:100%;
    padding:12px 12px 12px 45px;
    border:2px solid #2e7d32;
    border-radius:10px;
    outline:none;
    font-size:15px;
    box-sizing:border-box;
}

.input-box input:focus{
    border-color:#1b5e20;
    box-shadow:0 0 6px rgba(46,125,50,0.3);
}

.input-icon{
    position:absolute;
    left:15px;
    top:50%;
    transform:translateY(-50%);
    color:#2e7d32;
    font-size:18px;
}

.row{
    display:flex;
    gap:15px;
}

.column{
    flex:1;
}

.farm-card button{
    width:100%;
    padding:14px;
    margin-top:20px;
    border:none;
    border-radius:10px;
    background:#0b5d1e;
    color:white;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.farm-card button:hover{
    background:#0a4b19;
}

@media(max-width:768px){

    .farm-card{
        width:100%;
        padding:22px;
    }

    .row{
        flex-direction:column;
        gap:0;
    }

    .farm-card h1{
        font-size:30px;
    }

}