body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;

    background-image:url("../assets/YieldSense AI (2).png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.register-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    padding-top:140px;
    box-sizing:border-box;
}

.register-card{
    width:400px;
    background:rgba(255,255,255,.95);
    padding:16px 20px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.25);
    
}

.register-card h1{
    text-align:center;
    color:#2e7d32;
    font-size:36px;
    margin:0 0 12px 0;
    padding:0;
}

.register-card label{
    display:block;
    color:#1b5e20;
    font-size:15px;
    font-weight:600;
    margin-top:8px;
    margin-bottom:4px;
}

.input-box{
    position:relative;
    width:100%;
    margin-bottom:10px;
}
.input-box input{
    width:100%;
    padding:10px 10px 10px 42px;
    border:2px solid #2e7d32;
    border-radius:10px;
    outline:none;
    font-size:15px;
    box-sizing:border-box;
}

.input-box input:focus{
    border-color:#1b5e20;
    box-shadow:0 0 8px rgba(46,125,50,.3);
}

.input-icon{
    position:absolute;
    left:14px;
    top:50%;
    transform:translateY(-50%);
    color:#2e7d32;
    font-size:16px;
}

.register-card button{
    width:100%;
    margin-top:12px;
    padding:11px;
    border:none;
    border-radius:10px;
    background:#0b5d1e;
    color:white;
    font-size:17px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.register-card button:hover{
    background:#084917;
}

.register-card p{
    text-align:center;
    margin-top:14px;
    font-size:15px;
    color:#555;
}

.register-card span{
    color:#2e7d32;
    font-weight:bold;
    cursor:pointer;
}

@media(max-width:768px){

    .project-title{
        font-size:46px;
    }

    .project-subtitle{
        font-size:20px;
    }

    .register-card{
        width:100%;
        padding:25px;
    }

    .register-card h1{
        font-size:42px;
    }
}