.weather-chart{
      width:100%;
    box-sizing:border-box;
    
    background:#fff;
    margin-top:35px;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.12);
}

.weather-chart h2{
    color:#1b5e20;
    margin-bottom:30px;
}

.chart{
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    height:230px;
    gap:18px;
}

.bar{
    flex:1;
    background:linear-gradient(to top,#2e7d32,#81c784);
    border-radius:12px 12px 0 0;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
    color:white;
    font-weight:bold;
    transition:.3s;
}

.bar:hover{
    transform:scaleY(1.05);
}

.bar span{
    margin-bottom:8px;
}

.bar p{
    margin:10px 0;
    color:#fff;
    font-size:15px;
}