body {
  margin: 0;
  font-family: Arial, sans-serif;

  background-image: url("./assets/YieldSense AI.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  min-height: 100vh;
}

.container {
  width: 450px;
  margin: 40px auto;
  background: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
  color: green;
  text-align: center;
}

h2 {
  text-align: center;
  color: #444;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  margin: 8px 0;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.form button {
  margin-top: 15px;
  padding: 12px;
  background: green;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

.form button:hover {
  background: darkgreen;
}

.result {
  margin-top: 20px;
  text-align: center;
  padding: 15px;
  background: #eef8ee;
  border-radius: 8px;
}